<section class="edit-movie-container">
    <div class="edit-movie">

            <form [formGroup]="form" class="edit" (ngSubmit)="saveMovieHandler()">
            <h1>Edit movie</h1>

            <label for="cover">Image:</label>
            <input 
                type="url" 
                id="cover" 
                name="cover" 
                [value]="editMovie.cover"
                formControlName="cover"
                />

            <ng-container *ngIf="form.get('cover')?.touched">
                <p class="cover-error" *ngIf="form.get('cover')?.errors?.['required']">Image is required!</p>
            </ng-container>

            <label for="title">Title:</label>
            <input 
                type="text" 
                id="title" 
                name="title"
                [value]="editMovie.title"
                formControlName="title" 
                />

            <ng-container *ngIf="form.get('title')?.touched">
                <p class="title-error" *ngIf="form.get('title')?.errors?.['required']">Title is required!</p>
            </ng-container>

            <label for="genre">Genre:</label>
            <input 
                type="text" 
                name="genre" 
                id="genre" 
                [value]="editMovie.genre"
                formControlName="genre"
                />

            <ng-container *ngIf="form.get('genre')?.touched">
                <p class="genre-error" *ngIf="form.get('genre')?.errors?.['required']">Genre is required!</p>
            </ng-container>

            <label for="year">Year:</label>
            <input 
                type="number" 
                name="year" 
                id="year" 
                [value]="editMovie.year"
                formControlName="year"
                />

            <ng-container *ngIf="form.get('year')?.touched">
                <p class="year-error" *ngIf="form.get('year')?.errors?.['required']">Year is required!</p>
            </ng-container>

            <label for="cast">Cast:</label>
            <input 
                type="text" 
                name="cast" 
                id="cast" 
                [value]="editMovie.cast"
                formControlName="cast"
                />

            <ng-container *ngIf="form.get('cast')?.touched">
                <p class="cast-error" *ngIf="form.get('cast')?.errors?.['required']">Cast is required!</p>
            </ng-container>

            <label for="director">Director:</label>
            <input 
                type="text" 
                name="director" 
                id="director"
                [value]="editMovie.director"
                formControlName="director" 
                />

            <ng-container *ngIf="form.get('director')?.touched">
                <p class="director-error" *ngIf="form.get('director')?.errors?.['required']">Director is required!</p>
            </ng-container>

            <label for="duration">Duration:</label>
            <input 
                type="number" 
                name="duration" 
                id="duration" 
                [value]="editMovie.duration"
                formControlName="duration"
                />

            <ng-container *ngIf="form.get('duration')?.touched">
                <p class="duration-error" *ngIf="form.get('duration')?.errors?.['required']">Duration is required!</p>
                <p class="duration-error" *ngIf="form.get('duration')?.errors?.['min']">Duration must be a positive number!</p>
            </ng-container>

            <label for="summary">Summary:</label>
            <textarea 
                type="text"
                name="summary" 
                id="summary"
                [value]="editMovie.summary"
                formControlName="summary"
                >
            </textarea>

            <ng-container *ngIf="form.get('summary')?.touched">
                <p class="summary-error" *ngIf="form.get('summary')?.errors?.['required']">Summary is required!</p>
            </ng-container>

            <button class="save-movie-btn" type="submit">Save movie</button>
        </form>
   
    </div>
</section>