<section class="movie-details-container">
    <div class="movie-details">
       <img src="{{movie.cover}}" alt="{{movie.title}}" />
        <div class="movie-info">
            <p class="movie-title"><span>Title:</span> {{movie.title}}</p>
            <p class="movie-director"><span>Director:</span> {{movie.director}}</p>
            <p class="movie-cast"><span>Cast:</span> {{movie.cast}}</p>
            <p class="movie-genre"><span>Genre:</span> {{movie.genre}}</p>
            <p class="movie-year"><span>Year:</span> {{movie.year}}</p>
            <p class="movie-duration"><span>Duration:</span> {{movie.duration}} mins</p>
            <p class="movie-summary"><span>Summary:</span> {{movie.summary}}</p>
            <div class="btn-container">
                <button class="btn"><a routerLink="/movies/:movieId/edit" class="edit-movie">Edit movie</a></button>
                <button class="del-movie btn">Delete movie</button>
            </div>
        </div>
    </div>
</section>