
<section class="add-quote-container">
    <div class="add-quote">
        <form #addQuoteForm="ngForm" class="add" (ngSubmit)="formSubmitHandler(addQuoteForm)">

            <h1>Add Quote</h1>

            <label for="imageUrl">Image:</label>
            <input
                type="url"
                id="imageUrl"
                name="imageUrl"
                placeholder="Enter image URL"
                ngModel 
                #inputImage="ngModel" 
                required
            />

            <ng-container *ngIf="inputImage.touched">
                <p class="image-error" *ngIf="inputImage.errors?.['required']">Image is required!</p>
            </ng-container>

            <label for="quote">Quote:</label>
            <textarea
                name="quote"
                id="quote"
                placeholder="Enter quote here"
                ngModel 
                #inputQuote="ngModel" 
                required
            ></textarea>

            <ng-container *ngIf="inputQuote.touched">
                <p class="quote-error" *ngIf="inputQuote.errors?.['required']">Quote is required!</p>
            </ng-container>

            <label for="author">Name:</label>
            <input
                type="text"
                name="author"
                id="author"
                placeholder="Enter name here"
                ngModel 
                #inputAuthor="ngModel" 
                required
            />

            <ng-container *ngIf="inputAuthor.touched">
                <p class="author-error" *ngIf="inputAuthor.errors?.['required']">Name is required!</p>
            </ng-container>

            <button class="add-quote-btn">Add quote</button>
        </form>
    </div>
</section>