
<section class="add-quote-container">
    <div class="add-quote">
        <form [formGroup]="form" class="add" (ngSubmit)="createQuote()">

            <h1>Add Quote</h1>

            <label for="imageUrl">Image:</label>
            <input
                type="url"
                id="imageUrl"
                name="imageUrl"
                placeholder="Enter image URL"
                formControlName="imageUrl"
            />

            <ng-container *ngIf="form.get('imageUrl')?.touched">
                <p class="image-error" *ngIf="form.get('imageUrl')?.errors?.['required']">Image is required!</p>
            </ng-container>

            <label for="quote">Quote:</label>
            <textarea
                name="quote"
                id="quote"
                placeholder="Enter quote here"
                formControlName="quote"
            ></textarea>

            <ng-container *ngIf="form.get('quote')?.touched">
                <p class="quote-error" *ngIf="form.get('quote')?.errors?.['required']">Quote is required!</p>
            </ng-container>

            <label for="author">Name:</label>
            <input
                type="text"
                name="author"
                id="author"
                placeholder="Enter name here"
                formControlName="author"
            />

            <ng-container *ngIf="form.get('author')?.touched">
                <p class="author-error" *ngIf="form.get('author')?.errors?.['required']">Name is required!</p>
            </ng-container>

            <button class="add-quote-btn">Add quote</button>
        </form>
    </div>
</section>