
<div class="add-quote-container">
    <section class="add-quote">
        <form class="add">

            <h1>Add Quote</h1>

            <label for="imageUrl">Image:</label>
            <input
                type="url"
                id="imageUrl"
                name="imageUrl"
                placeholder="Enter image URL"
            />
            <!-- {urlError && (
                <p class={styles["url-error"]}>{urlError}</p>
            )} -->

            <label for="quote">Quote:</label>
            <textarea
                name="quote"
                id="quote"
                placeholder="Enter quote here"
            ></textarea>
            <!-- {quoteError && (
                <p class={styles["quote-error"]}>{quoteError}</p>
            )} -->

            <label for="author">Name:</label>
            <input
                type="text"
                name="author"
                id="author"
                placeholder="Enter name here"
            />
            <!-- {authorError && (
                <p class={styles["author-error"]}>{authorError}</p>
            )} -->

            <button class="add-quote-btn">Add quote</button>
        </form>
    </section>
</div>