<article class="review">
    <div class="container">
        <p class="review-author">Author</p>
        <div class="btn-container">
            <p class="trash-icon"><i class="fa-solid fa-trash"></i></p>
        </div>
    </div>
    <p class="review-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut maxime eius ex velit
        dicta perspiciatis! Repudiandae veniam optio, aperiam eum necessitatibus consequuntur, excepturi tempore
        rerum consectetur eius nisi porro similique.</p>
</article>

<h1 class="no-reviews">No reviews added yet</h1>
