<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href='https://galleries.bolognachildrensbookfair.com/'><img src="/" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href='https://internationalpublishers.org/new-dehli-world-book-fair/'><img src="/" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href='https://galleries.bolognachildrensbookfair.com/'><img src="/" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
            <a href='https://pubat.or.th/bangkok-international-book-fair-2024/'><img src="/" class="d-block w-100" alt="..." /></a>
        </div>
    </div>
</div>