<article class="single-quote">
    <div class="left-side">
        <img src="../../../assets/The_Green_Mile_(movie_poster).jpg" />
    </div>
    <div class="right-side">
        <p class="quote-text">Text</p>
        <div class="name-container">
            <p class="quote-author">Author</p>


            <div class="btn-container">
                <a href="">
                    <p class="edit-icon"><i class="fa-solid fa-pen-to-square"></i></p>
                </a>
                <p class="trash-icon"><i class="fa-solid fa-trash"></i></p>
            </div>
        </div>
    </div>
</article>