<article class="news-details">
    <form class="news-form">
        <h1 class="news-heading">Title</h1>
        <p class="news-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reprehenderit asperiores
            sequi quis cupiditate, corporis numquam est culpa dolorem, aliquam quae mollitia! Tempore quasi explicabo
            aliquid, commodi corrupti optio voluptate!</p>
        <a class="to-home" to="/"><button class="back-btn">Back</button></a>
    </form>
</article>