<section class="quotes-container">
    <h1 class="all-quotes-heading">All Quotes</h1>
    <div class="all-quotes">

        <!-- List of quotes -->
        <article class="single-quote"  *ngFor="let quote of quotes">
            <div class="left-side">
                <img src={{quote.imageUrl}} />
            </div>
            <div class="right-side">
                <p class="quote-text">{{quote.quote}}</p>
                <div class="name-container">
                    <p class="quote-movie">{{quote.movie}}</p>

                    <div class="btn-container">
                        <a routerLink="">
                            <p class="edit-icon"><a routerLink="{{quote._id}}/edit"><i class="fa-solid fa-pen-to-square"></i></a></p>
                        </a>
                        <p class="trash-icon"><i class="fa-solid fa-trash"></i></p>
                    </div>
                </div>
            </div>
        </article>

    </div>

    <div class="wrapper">
        <h1 class="no-quotes" *ngIf="!quotes">No quotes added yet</h1>
        <button class="add" *ngIf="isLoggedIn"><a routerLink="add-quote" class="add-link"> Add new quote</a></button>
    </div>
   

</section>