<section class="movie-catalog">
    <h1 class="movie-catalog-heading">All Movies</h1>
    <div class="movie-container">

        <!-- List of movies -->
        <article class="movie" *ngFor="let movie of movies">
            <a routerLink="{{movie._id}}/details"><img src="{{movie.cover}}" /></a>
            <p class="movie-title">{{movie.title}}</p>
            <p class="movie-genre">{{movie.genre}}</p>
            <p class="movie-year">{{movie.year}}</p>
            <button class="show-details"> <a routerLink='{{movie._id}}/details' class="show-details-link">Show details</a></button>
        </article>
    </div>

    <div class="wrapper">
        <h1 class="no-movies" *ngIf="!movies">No movies added yet</h1>
        <button class="add" *ngIf="isLoggedIn"><a routerLink="/add-movie" class="add-link"> Add new movie</a></button>
    </div>
</section>