<header>
    <nav class="site-nav">
        <a href="/"><img src="/" alt="" /></a>
        <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/movies">Movies</a></li>
            <li><a class="nav-link" href="/quotes">Quotes</a></li>
            <li><a class="nav-link" href="/news">News</a></li>
            <li><a class="nav-link" href="/about-us">About Us</a></li>
            <li><a class="nav-link" href="/contact-us">Contact Us</a></li>

            <div class="isAuthenticated">
                <li><a class="nav-link" href="/add-movie">Add Movie</a></li>
                <li><a class="nav-link" href="/logout"><span>Hello </span>| Logout</a></li>
            </div>

            <div class="isGuest">
                <li><a class="nav-link" href="/login">Login</a></li>
                <li><a class="nav-link" href="/register">Register</a></li>
            </div>

        </ul>
    </nav>
</header>