.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 57px 0;
    gap: 40px;
    
}

.error-page img {
    width: 400px;
    padding-top: 40px;
}

.error-right {
    text-align: center;
}

.error-title {
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-size: 120px;
    margin: 0;
}

.error-par {
    padding-bottom: 25px;
    font-size: 25px;
    color: rgb(255, 208, 0);
}

.back-home {
    background-color: rgb(255, 208, 0);
    padding: 10px 25px;
    border-style: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

.go-to-home {
    color: black;
    text-decoration: none;
}